header {
    background: #2c3e50;
    color: #fff;
}

.main {
    background: #f2f2f2;
}

.color1 {
    background: #34495e;
    color: #fff;
}

.color2 {
    background: #2c3e50;
    color: #fff;
}

aside {
    background: #c0392b;
    color: #fff;
}

footer {
    background: #16a085;
    color: #fff;
}

.customLink, .customLink:hover{
    color:#2c3e50;
    text-decoration: none;
  }

.customLink, .customLink:link{
    color: #a4d2ff;
    text-decoration: underline;
}

.customLink, .customLink:visited{
    color: #a4d2ff;
    text-decoration: underline;
}
  
.customLink, .customLink:active{
    color: #fff;
    text-decoration: none;
}
